.pageLayout {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

@media (max-width: 500px) {
  .configLayout {
    width: 40%;
    -webkit-order: 1;
    order: 1;
  }
  .contentLayout {
    width: 60%;
    -webkit-order: 2;
    order: 2;
  }
}

@media (min-width: 800px) {
  .configLayout {
    width: 20%;
  }
  .contentLayout {
    margin-top: 65px;
    width: 20%;
  }
}
